[submodule "Assets/Scripts/UnityWindowsFileDrag-Drop"]
	path = Assets/Scripts/UnityWindowsFileDrag-Drop
	url = https://github.com/Bunny83/UnityWindowsFileDrag-Drop.git
[submodule "Assets/Scripts/GLTFUtility"]
	path = Assets/Scripts/GLTFUtility
	url = https://github.com/Siccity/GLTFUtility.git
